@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');


.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.gilda-display-regular {
  font-family: "Gilda Display", "Geogria", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-text: #14252d;
  --color-body-bg: #fafffa;
  --color-link: #3c5d42;
  --color-grid-bg: #eff4f5;
  --color-sidebar-bg-before: #23573b20;
  --color-sidebar-bg-after: #23573b30;
  --color-sidebar-shadow-before: #14252d10;
  --color-sidebar-shadow-after: #14252dee;
  --color-topbar-bg: #d0e0d8ec;
  --icon-external-link: url("/icons/light-external-link.svg");
}


[data-theme="dark"] {
  --color-text: #f5fff5;
  --color-body-bg: #14252d;
  --color-link: #8FB79C;
  --color-grid-bg: #26373b;
  --color-sidebar-bg-before: #23573b40;
  --color-sidebar-bg-after: #23573b46;
  --color-sidebar-shadow-before: #29485710;
  --color-sidebar-shadow-after: #294857de;
  --color-topbar-bg: #17312fec;
  --icon-external-link: url("/icons/dark-external-link.svg");
}


* {
  font-family: "Inter", Helvetica;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body.window {
  background-color: var(--color-body-bg);
}

body.window>* {
  box-sizing: border-box;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilda Display";
  font-size: 4.5em;
  padding-top: 4.5%;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.75em;
  padding-top: 1%;
}

h5 {
  font-size: 1.25em;
  padding-top: 0.5%;
}

h6 {
  font-size: 1em;
  padding-top: 0.5%;
}

p,
ul,
ol,
li {
  font-family: "Inter";
  font-size: 1em;
  line-height: 1.5;
}

p {
  padding-top: 0.95em;
}

ul {
  padding-left: 40px;
}

li {
  padding-top: 0.5em;
}

hr {
  padding: 0;
  z-index: 0;
}

a[href^="/"] {
  color: var(--color-text);
}

a[href^="http://"],
a[href^="https://"],
a[href^="mailto:"] {
  color: var(--color-link);
}

a[href^="http://"]::after,
a[href^="https://"]::after,
a[href^="mailto:"]::after {
  width: 0.65em;
  height: 0.65em;
  display: inline-block;
  margin-left: 5px;
  content: var(--icon-external-link);
}

nav.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-sidebar-bg-before);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 3px var(--color-sidebar-shadow-before);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.sidebar::after {
  box-shadow: 10px 0px 40px var(--color-sidebar-shadow-after);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover {
  background-color: var(--color-sidebar-bg-after);
}

.sidebar:hover::after {
  opacity: 1;
}

.sidebar-icon {
  width: 60%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 25px;
}

.sitemap {
  text-align: center;
  line-height: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sm-selected {
  font-style: italic;
}

#theme-button {
  padding: 10px;
  margin: 20px;
  margin-top: auto;
  color: var(--color-text);
  opacity: 0.75;
  width: fit-content;
  height: fit-content;
}

#theme-button:hover {
  opacity: 0.9;
}

.contents {
  margin-left: 200px;
  padding: 0% 10% 0%;
  padding-top: 25px;
  flex-direction: column;
  max-width: 60%;
  overflow-y: clip;
}

.references-section {
  padding-top: 15px;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.reference {
  background-color: var(--color-grid-bg);
  padding: 10px 30px 30px 30px;
  border-radius: 4px;
}

.reference>h1 {
  padding-top: 5em;
  padding-bottom: 3em;
}

.reference>p {
  line-height: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}

p.reference-subhead {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 0.85em;
  font-style: italic;
  font-weight: 300;
}

header>p {
  line-height: 0.5;
  padding-top: 0.25em;
}

footer {
  height: 200px;
  width: 100%;
  text-align: center;
  align-content: center;
  font-size: 0.85em;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  font-style: italic;
  color: var(--color-text);
}

footer>p {
  padding-top: 0.25em;
}

@media screen and (max-width: 800px) {
  nav.sidebar {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-topbar-bg);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px) saturate(65%);
  }

  .sidebar:hover {
    background-color: var(--color-topbar-bg);
  }

  .sidebar:hover::after {
    opacity: 0;
  }

  .sidebar-icon {
    width: 4em;
    padding: 10px;
    vertical-align: middle;
  }

  .sitemap {
    text-align: center;
    line-height: 0.75em;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  .sitemap>li {
    display: inline;
    padding: 5px;
  }

  #theme-button {
    margin: 0px;
    padding: 10px;
    vertical-align: middle;
  }

  .contents {
    max-width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 0em;
  }

  .references-section {
    grid-auto-flow: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 300) {
  nav.sidebar {
    flex-direction: column;
  }
}